*.env

node_modules

lerna-debug.log
yarn-error.log

/.project
/.settings/

# Logs
*.log

# Coverage
.nyc_output
coverage
reports

# IDE specific
.vscode
.idea

# OS files
.DS_Store

typedoc/

*.map
build
misc
dist

# yarn.lockis used instead
package-lock.json